@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box
}

html, body {
    padding-bottom: 50px;
    min-height: 100vh;
}

#app {
    min-height: 100vh;
}

.content {
    min-height: calc(100vh - 8.1rem);
}

.products-table {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr)) max-content;
}
